appnope
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
crispy-bootstrap5
decorator
defusedxml
Django
django-bootstrap-v5
django-crispy-forms
django-environ
dj-database-url
docopt
executing
fastjsonschema
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-dateutil
pyzmq
referencing
requests
rpds-py
six
soupsieve
sqlparse
stack-data
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings
yarg
