{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div style="text-align: center;" class="mt-2">
  <a class="btn btn-primary" href="{% url 'edit_profile' %}">
    Edit Your Profile</a
  >
</div>
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">

  <div class="col-sm-3">
    <div class="card m-2">
      <div class="card-body">
        <h3 class="text-2xl">{{user.username}}</h3>
            <h4 class="text-lg">{{user.first_name}} {{user.last_name}}</h4>
            <small>{{user.date_joined}}</small>
      </div>
    </div>
  </div>
</div>
<div class="col-10 p-3">

    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap pt-5">
      {% for post in data %}
      <div class="col-sm-3">
        <div class="card m-2">
          <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            <h5 class="card-title"><a href="#" class="text-decoration-none text-dark">{{post.title}} {{post.author}}</a></h5>
            <a class="btn btn-dark" href="{% url 'return_book' post.id %}">Return Book</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> 
{% endblock %}